
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');


*{
    box-sizing: border-box;
  
}

body{
 
    background-image: url("/adam-chang-IWenq-4JHqo-unsplash\ \(1\).jpg");
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.countdown-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    font-size: 4rem;
    margin-top: 1rem;
    font-weight: normal;
}

.big-text{
    font-weight: bold;
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;
}